{%extends 'base.html'%} {%block title%}Courts {%endblock%} {%block content%}
<h1>This is the Courts list</h1>
<div class="container">
  <ul class="list-group">
    {%for court in courts%}
    <li class="list-group-item">
      <a class="text-decoration-none" href="court_details/{{court.id}}">
        <p>{{court.name}} - {{court.number}}</p></a
      >
      {%if court.is_occupied%}
      <p>
        Reserved: Yes , Reserved at: {{court.occupation_time| date:"H:i:s"}}
      </p>
      <ul class="list-group container mx-auto w-25 mt-3">
        <h4>Currently Reserved by:</h4>
        {%with court.members.all as members%} {%for member in members%}
        <li class="list-group-item">{{member}}</li>
        {%endfor%} {%endwith%}
      </ul>
      {%else%}
      <p>Reserved: No</p>
      {%endif%} {%with court.trainers.all as trainers%} {%if trainers%}
      <ul class="list-group container mx-auto w-25 mt-3">
        <h4>Trainers:</h4>
        {%for trainer in trainers%}
        <li class="list-group-item">{{trainer}}</li>
        {%endfor%}
      </ul>
      {%else%} {%endif%} {%endwith%}
    </li>
    {%endfor%}
  </ul>
</div>
{%endblock%}
