{%extends 'base.html'%} {%block title%} {{court.name}} {{court.number}}
{%endblock%} {%block content%}
<div class="card">
  <div class="card-body">
    <p class="title">{{court.name}}</p>
    <p class="card-text">Number: {{court.number}}</p>

    {%if court.is_occupied%}
    <ul class="list-group container mx-auto w-25 mt-3">
      <h4>Currently Reserved by:</h4>
      {%for member in members%}
      <li class="list-group-item">{{member}}</li>
      {%endfor%}
    </ul>
    <p class="card-text">
      Reserved at: {{court.occupation_time|date:" H:i:s"}}
    </p>
    <a class="btn btn-danger" href="{%url 'end_court_occupation' court.id%}"
      >End Reservation</a
    >
    {%else%}
    <p class="card-text">Occupied: No</p>
    <a class="btn btn-success" href="{%url 'reservation' court.id%}"
      >Reserve Court</a
    >

    {%endif%}
  </div>
</div>
<a href="{%url 'courts'%}" class="btn btn-primary mt-3">Go Back</a>
{%endblock%}
