<nav class="navbar bg-body-tertiary navbar-expand-lg navbar-expand-sm">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <ul class="navbar-nav collapse navbar-collapse" id="collapsibleNavbar">
      <li class="nav-item">
        <a
          class="nav-link {%if request.path == '/'%} active {%endif%}"
          href="{%url 'index'%}"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {%if request.path == '/members/'%} active {%endif%}"
          href="{%url 'members'%}"
          >Members</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {%if request.path == '/trainers/'%} active {%endif%}"
          href="{%url 'trainers'%}"
          >Trainers</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {%if request.path == '/courts/'%} active {%endif%}"
          href="{%url 'courts'%}"
          >Courts</a
        >
      </li>
    </ul>
  </div>
</nav>
